<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.angrywolves.tolink.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.angrywolves.tolink.entity.Tag">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="base_sql">
        tag_name, create_time, modify_time
    </sql>

    <!--添加-->
    <insert id="saveTag" parameterType="com.angrywolves.tolink.entity.Tag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag (<include refid="base_sql"/>)
        VALUES (
        #{tagName,jdbcType=VARCHAR},
        NOW(),
        NOW()
        )
    </insert>

    <!--查询-->
    <select id="selectTag" parameterType="com.angrywolves.tolink.entity.Tag" resultMap="BaseResultMap">
      SELECT
      id,<include refid="base_sql"/>
      FROM tag
        <if test="size != 0">
            LIMIT ${start},${size}
        </if>
    </select>

    <select id="selectTagCount"  parameterType="java.util.Map" resultType="Integer">
        SELECT
        count(1)
        FROM tag
    </select>

    <!--修改-->
    <update id="updateTagById" parameterType="com.angrywolves.tolink.entity.Tag">
        UPDATE
        tag
        SET tag_name = #{tagName,jdbcType=VARCHAR}, modify_time = NOW()
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>